/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;

  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 0;
  --first-color: hsl(var(--hue-color), 80%, 80%);
  --second-color: hsl(var(--hue-color), 50%, 25%);
  --background-color: hsl(var(--hue-color), 76%, 86%);
  --text-color: var(--second-color);

  /*===== Font & Typography =====*/
  --font: "Roboto Mono", serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode {
  --hue-color: 0;
  --first-color: hsla(var(--hue-color) 80% 75% / 0.98);
  --second-color: hsla(var(--hue-color) 50% 25% / 0.94);
  --background-color: hsla(var(--hue-color) 76% 86% / 0.7);
  --text-color: var(--second-color);
}

/* Dark Mode for Modal */
.modal-content.dark-mode {
  background-color: #333;
  color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #f9f9f9;
  color: var(--text-color);
  line-height: 1.6;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

header {
  background-color: var(--first-color);
  padding: var(--mb-2);
  text-align: center;
  color: var(--second-color);
}

header h1 {
  font-size: var(--big-font-size);
  margin: var(--mb-2);
}

#language-select,
#dashboard-btn {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 5px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
  color: var(--second-color);
}

/* Form Styling */
#task-form-section,
#task-list-section {
  background: #fff;
  padding: 20px;
  margin: var(--mb-4) 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--first-color);
}

#search-bar,
#filter-category,
#filter-status,
#sort-priority {
  border: 10px solid var(--background-color);
}

#task-list {
  color: var(--text-color);
}

#task-form div {
  margin-bottom: var(--mb-2);
}

#task-form label {
  display: block;
  font-size: var(--normal-font-size);
  margin-bottom: 5px;
  color: var(--text-color);
}

#task-form input[type="text"],
#task-form input[type="date"],
#task-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

/*Primary Button*/
.primary-button {
  display: inline-block;
  text-align: center;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  border: 3px solid var(--second-color);
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--first-color);
  background-color: var(--second-color);
  text-decoration: none;
  transition: 0.4s ease all;
  z-index: 1;
  margin-top: 10px;
}

.primary-button::before {
  transition: 0.4s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--background-color);
  border-radius: 0.5rem;
  z-index: -1;
}

.primary-button:hover,
.primary-button:focus {
  color: var(--second-color);
}

.primary-button:hover:before,
.primary-button:focus:before {
  transition: 0.4s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

/* Task List Styling */
#task-list {
  list-style: none;
}

#search-filter {
  margin-bottom: 10px;
}

#task-list-section select,
#search-bar {
  color: black;
  background-color: var(--background-color);
  height: 30px;
  padding: 5px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0.2rem;
}

.task-item {
  background: var(--background-color);
  margin-bottom: 15px;
  padding: 15px;
  border-left: 4px solid var(--second-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;
}

.task-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
  font-size: var(--h2-font-size);
  margin-bottom: 10px;
  color: var(--second-color);
}

.task-item p {
  font-size: 0.9rem;
  color: var(--text-color);
}

.task-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.task-actions button {
  padding: 8px 12px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-actions .edit-btn {
  background-color: #ffca28;
  color: #fff;
}

.task-actions .delete-btn {
  background-color: #e74c3c;
  color: #fff;
}

.task-actions .add-subtask-btn {
  background-color: #888;
  color: #fff;
}

.task-actions button:hover {
  opacity: 0.9;
  color: #000;
}

/* Priority Colors */
.high-priority {
  border-left-color: #ed2d18;
}

.medium-priority {
  border-left-color: #f99b04;
}

.low-priority {
  border-left-color: #1ac561;
}

/* Completed Task Styling */
.completed {
  text-decoration: line-through;
}

/* Accordion Subtask Section */
.subtask-accordion {
  margin-top: 10px;
}

.subtask-accordion .accordion-toggle {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  text-align: left;
  width: 100%;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: background-color 0.2s;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.subtask-accordion .accordion-toggle:hover {
  background-color: #45a049;
}

.subtask-accordion .accordion-content {
  display: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--first-color);
  margin-top: 10px;
}

.subtask-accordion .accordion-content ul {
  list-style: none;
  padding-left: 0;
}

/* Responsive Styling */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }

  .primary-button {
    width: 100%;
  }

  .task-actions {
    flex-direction: column;
    gap: 5px;
  }

  .task-actions button {
    width: 100%;
  }
}

.switch {
  position: absolute;
  top: 20px;
  right: 100px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transition: 0.4s;
  border: 1px solid;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 2px;
  left: 4px;
  bottom: 2px;
  background-color: var(--first-color);
  border: 1px solid;

  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--second-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Modal Styling */
.modal {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--background-color);
  margin: 15% auto;
  padding: var(--mb-2);
  border: 1px solid var(--second-color);
  width: 40%;
  border-radius: 0.5rem;
  position: relative;
}

.close {
  color: var(--second-color);
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

/* Pagination Controls Styling */
#pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pagination-controls button {
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 1rem;
  border: none;
  background-color: var(--first-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#pagination-controls button.disabled,
#pagination-controls button:disabled {
  background-color: var(--background-color);
  cursor: not-allowed;
}

#pagination-controls button:hover {
  color: var(--first-color);
  background-color: var(--second-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Added shadow effect */
}
